# Cassandra

In [1]:
import cassandra

In [2]:
print(cassandra.__version__)

3.25.0

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': '/Users/deepakmongia/Documents/Data Science/iNeuron/Databases/Cassandra/secure-connect-testdb.zip'
}
auth_provider = PlainTextAuthProvider('UfmZkOkIfTCUdDYyqKlOrFlA', 'pHSdfvu08j-,7ecZozLkNQOhz7E+yUAn0E.c8XfxndLa3a8sRO_qC7GMg7P9BDWp4P8TsbsS.zOOT0PZonZuKIeoNPWa++zQB_TEoY9,9csiApQLyqQfgb69MbZuhZ34')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6813

In [4]:
row = session.execute("use deepak")
print(row)

<cassandra.cluster.ResultSet object at 0x7fa9697c5280>

In [5]:
row = session.execute("SELECT * FROM system_schema.keyspaces").one()
print(row)

Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))

In [6]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': '/Users/deepakmongia/Documents/Data Science/iNeuron/Databases/Cassandra/secure-connect-testdb.zip'
}
auth_provider = PlainTextAuthProvider('UfmZkOkIfTCUdDYyqKlOrFlA', 'pHSdfvu08j-,7ecZozLkNQOhz7E+yUAn0E.c8XfxndLa3a8sRO_qC7GMg7P9BDWp4P8TsbsS.zOOT0PZonZuKIeoNPWa++zQB_TEoY9,9csiApQLyqQfgb69MbZuhZ34')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("SELECT * FROM system_schema.keyspaces").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

system_auth

In [7]:
session.execute("drop table if exists deepak.emp;")

In [8]:
row = session.execute(" CREATE TABLE deepak.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint);").one()

In [9]:
row = session.execute(" SELECT * FROM deepak.emp;").one()

In [11]:
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(123, 'deepak', 'chicago', 100, 2323);" )

In [12]:
row = session.execute(" SELECT * FROM deepak.emp;").one()
print(row)

Row(emp_id=123, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)

In [13]:
row = session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(124, 'deepak', 'chicago', 100, 2323);" ).one()
print(row)

None

In [14]:
row = session.execute(" SELECT * FROM deepak.emp;")
for i in row:
    print(i)

Row(emp_id=123, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=124, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)

In [15]:
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(125, 'E1', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(126, 'E2', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(127, 'E3', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(128, 'E4', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(129, 'E5', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(130, 'E6', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(131, 'E7', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(132, 'E8', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(133, 'E9', 'chicago', 100, 2323);" ).one()
session.execute(" INSERT INTO deepak.emp (emp_id,emp_name,emp_city,emp_sal,emp_phone ) values(134, 'E10', 'chicago', 100, 2323);" ).one()

In [16]:
row = session.execute(" SELECT * FROM deepak.emp;")
for i in row:
    print(i)

Row(emp_id=128, emp_city='chicago', emp_name='E4', emp_phone=2323, emp_sal=100)
Row(emp_id=129, emp_city='chicago', emp_name='E5', emp_phone=2323, emp_sal=100)
Row(emp_id=132, emp_city='chicago', emp_name='E8', emp_phone=2323, emp_sal=100)
Row(emp_id=123, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=125, emp_city='chicago', emp_name='E1', emp_phone=2323, emp_sal=100)
Row(emp_id=134, emp_city='chicago', emp_name='E10', emp_phone=2323, emp_sal=100)
Row(emp_id=130, emp_city='chicago', emp_name='E6', emp_phone=2323, emp_sal=100)
Row(emp_id=131, emp_city='chicago', emp_name='E7', emp_phone=2323, emp_sal=100)
Row(emp_id=126, emp_city='chicago', emp_name='E2', emp_phone=2323, emp_sal=100)
Row(emp_id=127, emp_city='chicago', emp_name='E3', emp_phone=2323, emp_sal=100)
Row(emp_id=124, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=133, emp_city='chicago', emp_name='E9', emp_phone=2323, emp_sal=100)

In [17]:
session.execute("update deepak.emp set emp_name = 'E80' where emp_id = 132")

In [18]:
row = session.execute(" SELECT * FROM deepak.emp;")
for i in row:
    print(i)

Row(emp_id=128, emp_city='chicago', emp_name='E4', emp_phone=2323, emp_sal=100)
Row(emp_id=129, emp_city='chicago', emp_name='E5', emp_phone=2323, emp_sal=100)
Row(emp_id=132, emp_city='chicago', emp_name='E80', emp_phone=2323, emp_sal=100)
Row(emp_id=123, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=125, emp_city='chicago', emp_name='E1', emp_phone=2323, emp_sal=100)
Row(emp_id=134, emp_city='chicago', emp_name='E10', emp_phone=2323, emp_sal=100)
Row(emp_id=130, emp_city='chicago', emp_name='E6', emp_phone=2323, emp_sal=100)
Row(emp_id=131, emp_city='chicago', emp_name='E7', emp_phone=2323, emp_sal=100)
Row(emp_id=126, emp_city='chicago', emp_name='E2', emp_phone=2323, emp_sal=100)
Row(emp_id=127, emp_city='chicago', emp_name='E3', emp_phone=2323, emp_sal=100)
Row(emp_id=124, emp_city='chicago', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=133, emp_city='chicago', emp_name='E9', emp_phone=2323, emp_sal=100)

In [19]:
session.execute("""alter table deepak.emp add emp_mid_init text""")

In [20]:
row = session.execute(" SELECT * FROM deepak.emp;")
for i in row:
    print(i)

Row(emp_id=128, emp_city='chicago', emp_mid_init=None, emp_name='E4', emp_phone=2323, emp_sal=100)
Row(emp_id=129, emp_city='chicago', emp_mid_init=None, emp_name='E5', emp_phone=2323, emp_sal=100)
Row(emp_id=132, emp_city='chicago', emp_mid_init=None, emp_name='E80', emp_phone=2323, emp_sal=100)
Row(emp_id=123, emp_city='chicago', emp_mid_init=None, emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=125, emp_city='chicago', emp_mid_init=None, emp_name='E1', emp_phone=2323, emp_sal=100)
Row(emp_id=134, emp_city='chicago', emp_mid_init=None, emp_name='E10', emp_phone=2323, emp_sal=100)
Row(emp_id=130, emp_city='chicago', emp_mid_init=None, emp_name='E6', emp_phone=2323, emp_sal=100)
Row(emp_id=131, emp_city='chicago', emp_mid_init=None, emp_name='E7', emp_phone=2323, emp_sal=100)
Row(emp_id=126, emp_city='chicago', emp_mid_init=None, emp_name='E2', emp_phone=2323, emp_sal=100)
Row(emp_id=127, emp_city='chicago', emp_mid_init=None, emp_name='E3', emp_phone=2323, emp_sal=100)
Row(emp_id=124, emp_city='chicago', emp_mid_init=None, emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=133, emp_city='chicago', emp_mid_init=None, emp_name='E9', emp_phone=2323, emp_sal=100)

In [21]:
session.execute("""update deepak.emp 
                    set emp_mid_init = 'M' where
                    emp_id in (123, 124, 125, 126, 127, 128, 129, 130);""")

In [22]:
session.execute("""update deepak.emp 
                    set emp_mid_init = 'N' where
                    emp_id in (131, 132, 133, 134);""")

In [23]:
row = session.execute(" SELECT * FROM deepak.emp;")
for i in row:
    print(i)

Row(emp_id=128, emp_city='chicago', emp_mid_init='M', emp_name='E4', emp_phone=2323, emp_sal=100)
Row(emp_id=129, emp_city='chicago', emp_mid_init='M', emp_name='E5', emp_phone=2323, emp_sal=100)
Row(emp_id=132, emp_city='chicago', emp_mid_init='N', emp_name='E80', emp_phone=2323, emp_sal=100)
Row(emp_id=123, emp_city='chicago', emp_mid_init='M', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=125, emp_city='chicago', emp_mid_init='M', emp_name='E1', emp_phone=2323, emp_sal=100)
Row(emp_id=134, emp_city='chicago', emp_mid_init='N', emp_name='E10', emp_phone=2323, emp_sal=100)
Row(emp_id=130, emp_city='chicago', emp_mid_init='M', emp_name='E6', emp_phone=2323, emp_sal=100)
Row(emp_id=131, emp_city='chicago', emp_mid_init='N', emp_name='E7', emp_phone=2323, emp_sal=100)
Row(emp_id=126, emp_city='chicago', emp_mid_init='M', emp_name='E2', emp_phone=2323, emp_sal=100)
Row(emp_id=127, emp_city='chicago', emp_mid_init='M', emp_name='E3', emp_phone=2323, emp_sal=100)
Row(emp_id=124, emp_city='chicago', emp_mid_init='M', emp_name='deepak', emp_phone=2323, emp_sal=100)
Row(emp_id=133, emp_city='chicago', emp_mid_init='N', emp_name='E9', emp_phone=2323, emp_sal=100)

In [24]:
row = session.execute(""" SELECT sum(emp_sal) FROM deepak.emp where emp_mid_init = 'N'
                            allow filtering ;""").one()
print(row)

Row(system_sum_emp_sal=400)

In [25]:
row = session.execute(""" SELECT sum(emp_sal) FROM deepak.emp where emp_mid_init = 'M'
                            allow filtering ;""").one()
print(row)

Row(system_sum_emp_sal=800)